.header {
  width: 100%;
  overflow: hidden;
  position: relative;
  max-height: 842px;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  position: relative;
}

.carousel-item img {
  width: 100%;
  display: block;
  max-height: 842px;
  object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 1000;
}

.carousel-control-prev img,
.carousel-control-next img {
  width: 50px;
  height: auto;
  filter: invert(1);
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.carousel-caption h1 {
  font-size: clamp(2rem, 4vw, 4rem);
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.carousel-caption p {
  font-size: (1rem, 2.5vw, 1.2rem);
  margin-bottom: 0;
  font-weight: 300;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  gap: 10px;
}

.indicator {
  width: 12px;
  height: 12px;
  background-color: gray;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.indicator.active {
  width: 16px;
  height: 16px;
  background-color: white;
}

.carousel-btn {
  display: inline-block;
  padding: 10px 20px;
  color: black;
  background-color: white;
  text-decoration: none;
  font-size: 1rem;
  margin-top: 40px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: none;
  text-shadow: none;
}

.carousel-btn:hover {
  background-color: rgb(218, 218, 218);
}
.carousel-btn,
.carousel-control-prev,
.carousel-control-next {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font: inherit;
  color: inherit;
}

.carousel-btn:hover,
.carousel-control-prev:hover,
.carousel-control-next:hover {
  color: #000;
}
