.challenge-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 500px;
}

.challenge-header {
  margin-bottom: 20px;
}

.challenge-path {
  width: 80%;
  height: 100%;
}

.profile-icon {
  transform: translate(
    -15px,
    -15px
  ); /* 이미지가 정확히 경로 위에 오도록 조정 */
}

.goal-label {
  position: absolute;
  right: 33%;
  bottom: 5%;
  background-color: #3572ef;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.achievement-list {
  position: absolute;
  top: 50px;
  right: 50px;
  background-color: #fff;
  border: 2px solid #3572ef;
  padding: 20px;
  border-radius: 10px;
}

.achievement-list h2 {
  margin-top: 0;
  color: #3572ef;
}

.achievement-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.achievement-list li {
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
}
